@model charmsmvc.Models.Assortiment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изменить</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ассортимент</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.название, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.название, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.название, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.цена_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.цена_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.цена_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.объем, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.объем, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.объем, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.производитель_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.производитель_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.производитель_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.страна_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.страна_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.страна_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.дата_призводства, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.дата_призводства, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.дата_призводства, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.артикул, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.артикул, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.артикул, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.количество, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.количество, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.количество, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернутья к ассортименту", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
